html, body
{
	height:100%;
	width: 100%; 
	margin:0;
	padding:0;
}

#osmMap 
{
	height:100%;
	width: 100%; 
	z-index:1;
}

#divslider {
    width: 50%;
    height: 18%;
    display: inline-block;
    clear: both;
    position:absolute;
    margin-left:25%;
    font-family: 'Raleway', sans-serif;
    z-index:2;
}

#spillTypeSelector {
	float:left;
	width: 14%;
}


#heatmapToggle {
	width: 14%;
}

.legend {
	text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 24px;
    height: 14px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.info { 
	padding: 10px 10px 10px 10px; 
	font: 12px/16px Arial, Helvetica, sans-serif; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
} 

.info h4 { 
	margin: 0 0 5px; 
	color: #777; 
 }